<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>综合管理平台</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
		<link rel="shortcut icon" href="img/common/logo.png" type="image/x-icon" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/common.css?v=41b9775c38" />
		<link rel="stylesheet" href="css/main.css?v=b8cda6f358" />
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="js/translater.min.js"></script>
		<script src="js/encryption/jquery.md5.js"></script>
		<script src="js/echarts-all-3.js"></script>
		<script src="layui/layui.all.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/postUrl.js?v=950197219e"></script>
		<script src="js/common.js?v=6eb2dfb821"></script>
		<script src="js/init.js?v=9f5e6c2b6b"></script>

	</head>

	<body>
		<div class="kjy VDOM" v-cloak>
			<div class="header-box">
				<div class="header-inner-box">
					<div class="header-text-box">
						<div class="logo-img"></div>
						<div class="header-decorate-box header-decorate-left-box"></div>
					</div>
					<div class="title-box">
						<div class="title-inner-box normal-letter" v-if="language == 'en'">
							Management Platform
						</div>
						<div class="title-inner-box" v-else>
							综合管理平台
							<!--{cht}綜合管理平臺-->
						</div>
					</div>
					<div class="header-text-box account-info-box">
						<div class="header-text quit"></div>
						<div class="header-text" v-if="language == 'en'">
							<span onclick="switchLanguage('zh');">简</span> | <span onclick="switchLanguage('cht');">繁</span>
						</div>
						<div class="header-text" v-else-if="language == 'zh'">
							<span onclick="switchLanguage('cht');">繁</span> | <span onclick="switchLanguage('en');">EN</span>
						</div>
						<div class="header-text" v-else>
							<span onclick="switchLanguage('zh');">简</span> | <span onclick="switchLanguage('en');">EN</span>
						</div>
						<div class="header-text">
							<div class="user-info-text position-right">
								<span>
								您好，
								<!--{cht}您好，-->
								<!--{en}Hi,-->
							</span> {{accountName}}
							</div>
						</div>
						<div class="header-decorate-box header-decorate-right-box"></div>
					</div>
				</div>
			</div>
			<div class="main-box">
				<iframe v-bind:src="defaultUrl" frameborder='0' marginheight='0' marginwidth='0' scrolling='yes'></iframe>
			</div>
		</div>
	</body>

</html>